Library

In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import geopandas as gpd
import math
import time

Load Grouped Dataframes from Mastra

In [2]:
grouped_dataframes = pd.read_pickle('grouped_dataframes.pkl')

In [3]:
def adjust_traffic_flow(df, column_name, multiplier=2):
    """
    Adjusts the traffic flow value of 1.0 in a DataFrame to 1000 if it is between
    two values that are significantly higher (default: multiple of 2).

    Args:
        df (pd.DataFrame): The input DataFrame.
        column_name (str): The name of the traffic flow column.
        multiplier (float): The factor that determines "significantly higher".

    Returns:
        pd.DataFrame: Modified DataFrame with adjusted traffic flow values.
    """
    traffic_flow = df[column_name].values
    for i in range(1, len(traffic_flow) - 1):
        # Check if the current value is 1.0 and it's between two values that are higher
        if (traffic_flow[i] == 1.0 and 
            traffic_flow[i - 1] > 900 and 
            traffic_flow[i + 1] > 900):
            traffic_flow[i] = 1000
    
    # Update the DataFrame column
    df[column_name] = traffic_flow
    return df

grouped_dataframes = {key: adjust_traffic_flow(df, 'traffic_flow') for key, df in grouped_dataframes.items()}

In [4]:
columns_to_keep = ['Vej-Id', 'Dato', 'Xkoordinat', 'Ykoordinat', 'traffic_flow', 'time_start']
cleaned_dataframes = {}

for key in grouped_dataframes.keys():
    grouped_dataframes[key] = grouped_dataframes[key][columns_to_keep]
    grouped_dataframes[key]['traffic_flow'] = grouped_dataframes[key]['traffic_flow'].apply(lambda x: x * 10**3 if not pd.isna(x) and x != int(x) else x)

    # check for index duplicates
    if grouped_dataframes[key].index.duplicated().any():
        # drop duplicates
        cleaned_dataframes[key] = grouped_dataframes[key].reset_index(drop=True)

Only use Total Dataframes

In [5]:
# Filtered and unique dataframes processing
filtered_dataframes = {}
unique_dataframes = {}
cords = []
names = list(grouped_dataframes.keys())
k = 0

for name in names:
    single_name = name[0]
    
    # Check if the name ends with "T"
    if single_name[-1] in ["T"]:
        # Add to filtered dataframes
        filtered_dataframes[name] = grouped_dataframes[name]
        
        # Extract coordinates
        x, y = grouped_dataframes[name]['Xkoordinat'].iloc[0], grouped_dataframes[name]['Ykoordinat'].iloc[0]
        
        # Check for uniqueness and add to unique_dataframes
        if (x, y) not in cords:
            unique_dataframes[name] = grouped_dataframes[name]
            cords.append((x, y))
            k += 1
    
print("Unique Dataframes", k)

Unique Dataframes 136

Look at NA Values

In [8]:
for key in filtered_dataframes.keys():
    df = filtered_dataframes[key]
    print(key, "NA", df['traffic_flow'].isna().sum(), "\n", "NotNA", df['traffic_flow'].notna().sum())

('0 450-0 7/ 300 T', 552601.0, 6329842.0) NA 1123
 NotNA 33533
('0 450-0 9/1675 T', 549360.0, 6330576.0) NA 1917
 NotNA 59427
('0 70-0 277/ 100 T', 552269.0, 6311346.0) NA 2070
 NotNA 51594
('0 70-0 278/ 201 T', 552730.0, 6312348.0) NA 1931
 NotNA 51829
('0 70-0 279/ 100 T', 553084.0, 6313171.0) NA 1117
 NotNA 30371
('0 70-0 284/ 400 T', 555132.0, 6317792.0) NA 1911
 NotNA 59241
('0 70-0 284/ 950 T', 555308.0, 6318304.0) NA 1911
 NotNA 59241
('0 70-0 285/ 700 T', 555789.0, 6318873.0) NA 1173
 NotNA 28587
('0 70-0 286/ 100 T', 556145.0, 6319061.0) NA 2038
 NotNA 53738
('0 70-0 288/ 424 T', 558245.0, 6319907.0) NA 2118
 NotNA 57882
('0 70-0 289/ 350 T', 558753.0, 6320685.0) NA 1352
 NotNA 38296
('0 70-0 289/ 950 T', 559007.0, 6321227.0) NA 2179
 NotNA 57341
('0 70-0 290/ 951 T', 559026.0, 6322227.0) NA 1912
 NotNA 48488
('0 70-0 291/ 452 T', 558976.0, 6322726.0) NA 2212
 NotNA 57788
('0 70-0 291/ 625 T', 558956.0, 6322898.0) NA 2034
 NotNA 59022
('0 70-0 292/ 0 T', 558880.0, 6323318.0) NA 2034
 NotNA 59022
('0 70-0 293/ 370 T', 557951.0, 6324241.0) NA 5126
 NotNA 43834
('0 70-0 293/ 400 T', 557929.0, 6324261.0) NA 1130
 NotNA 33814
('0 70-0 293/ 640 T', 557757.0, 6324428.0) NA 3401
 NotNA 56023
('0 70-0 293/ 960 T', 557594.0, 6324700.0) NA 1931
 NotNA 59125
('0 70-0 293/ 980 T', 557587.0, 6324719.0) NA 1130
 NotNA 33814
('0 70-0 294/ 850 T', 557734.0, 6325564.0) NA 2097
 NotNA 58863
('0 70-0 295/ 500 T', 557994.0, 6326153.0) NA 1961
 NotNA 58903
('0 70-1 292/ 50 T', 558880.0, 6323318.0) NA 2150
 NotNA 57946
('0 70-11 283/ 200 T', 554551.0, 6316755.0) NA 1588
 NotNA 46220
('0 70-12 283/ 266 T', 554585.0, 6316822.0) NA 1588
 NotNA 46220
('0 70-2 292/ 50 T', 558837.0, 6323297.0) NA 2159
 NotNA 57841
('0 70-3 277/ 450 T', 552440.0, 6311651.0) NA 1941
 NotNA 51819
('0 70-3 284/ 780 T', 555292.0, 6318128.0) NA 1917
 NotNA 59427
('0 70-3 285/ 870 T', 555968.0, 6318918.0) NA 999
 NotNA 29049
('0 70-3 288/ 470 T', 558292.0, 6319926.0) NA 2173
 NotNA 57731
('0 70-3 288/ 560 T', 558354.0, 6319990.0) NA 2173
 NotNA 57731
('0 70-3 291/ 300 T', 559015.0, 6322568.0) NA 2098
 NotNA 47438
('0 70-3 294/ 850 T', 557768.0, 6325544.0) NA 2061
 NotNA 58419
('0 70-3A 288/ 580 T', 558376.0, 6320001.0) NA 2173
 NotNA 57731
('0 70-4 278/ 300 T', 552749.0, 6312440.0) NA 1801
 NotNA 52151
('0 70-4 285/ 460 T', 555588.0, 6318742.0) NA 1914
 NotNA 59334
('0 70-4 288/ 700 T', 558342.0, 6320192.0) NA 2234
 NotNA 56806
('0 70-4 291/ 625 T', 558928.0, 6322894.0) NA 1917
 NotNA 59427
('0 70-4 294/ 850 T', 557691.0, 6325544.0) NA 2071
 NotNA 58889
('0 70-5 278/ 300 T', 552781.0, 6312433.0) NA 1801
 NotNA 52151
('0 70-5 284/ 950 T', 555340.0, 6318295.0) NA 2010
 NotNA 59334
('0 70-5 288/ 700 T', 558422.0, 6320127.0) NA 1400
 NotNA 38056
('0 70-5 291/ 625 T', 558981.0, 6322888.0) NA 1917
 NotNA 59427
('0 70-5 294/ 850 T', 557827.0, 6325537.0) NA 1971
 NotNA 58989
('0 70-6 277/ 450 T', 552413.0, 6311664.0) NA 1802
 NotNA 52054
('0 70-6 285/ 65 T', 555341.0, 6318418.0) NA 1917
 NotNA 59427
('0 70-6 285/ 900 T', 555942.0, 6319001.0) NA 1818
 NotNA 54438
('0 70-6 288/ 670 T', 558310.0, 6320130.0) NA 2019
 NotNA 53181
('0 70-6 291/ 300 T', 558980.0, 6322578.0) NA 2080
 NotNA 49760
('0 76-0 0/ 453 T', 558371.0, 6323423.0) NA 830
 NotNA 25474
('0 76-1 0/ 800 T', 558664.0, 6323446.0) NA 830
 NotNA 25474
('0 76-2 0/ 800 T', 558627.0, 6323517.0) NA 822
 NotNA 25482
('0 76-2 0/ 923 T', 558581.0, 6323630.0) NA 2101
 NotNA 58091
('0 76-4 0/ 453 T', 558379.0, 6323438.0) NA 822
 NotNA 25482
('0 76-5 0/ 453 T', 558367.0, 6323402.0) NA 822
 NotNA 25482
('0 76-5 0/ 560 T', 558465.0, 6323359.0) NA 1908
 NotNA 58092
('0 77-0 294/ 400 T', 557255.0, 6324952.0) NA 1095
 NotNA 33945
('0 77-1 294/ 200 T', 557437.0, 6324871.0) NA 1917
 NotNA 59427
('0 77-2 294/ 200 T', 557426.0, 6324854.0) NA 1917
 NotNA 59427
('0 78-0 1/ 30 T', 558444.0, 6327442.0) NA 1634
 NotNA 49246
('0 80-0 296/ 600 T', 558598.0, 6327064.0) NA 2010
 NotNA 59046
('0 80-0 296/ 645 T', 558629.0, 6327096.0) NA 2064
 NotNA 56976
('0 80-0 297/ 450 T', 559264.0, 6327583.0) NA 1975
 NotNA 57065
('0 80-0 297/ 452 T', 559266.0, 6327584.0) NA 2042
 NotNA 59014
('0 80-0 297/ 960 T', 559723.0, 6327803.0) NA 1972
 NotNA 56972
('0 80-0 298/ 450 T', 560171.0, 6327999.0) NA 2073
 NotNA 57255
('0 80-0 299/ 600 T', 561226.0, 6328459.0) NA 1730
 NotNA 50782
('0 80-0 300/ 750 T', 562278.0, 6328919.0) NA 1738
 NotNA 50774
('0 80-0 300/ 85 T', 561669.0, 6328654.0) NA 1730
 NotNA 50782
('0 80-0 302/ 400 T', 563589.0, 6329866.0) NA 2055
 NotNA 58041
('0 80-0 303/ 190 T', 564000.0, 6330537.0) NA 2055
 NotNA 58041
('0 80-0 304/ 0 T', 564570.0, 6331111.0) NA 2006
 NotNA 57706
('0 80-0 305/ 300 T', 565165.0, 6332267.0) NA 1977
 NotNA 52743
('0 80-0 306/ 275 T', 565691.0, 6333093.0) NA 1961
 NotNA 52759
('0 80-0 307/ 100 T', 566293.0, 6333655.0) NA 1961
 NotNA 52759
('0 80-3 296/ 950 T', 558870.0, 6327287.0) NA 2006
 NotNA 59338
('0 80-3 300/ 85 T', 561694.0, 6328595.0) NA 1976
 NotNA 56584
('0 80-3 303/ 60 T', 563949.0, 6330413.0) NA 1917
 NotNA 59427
('0 80-3 306/ 80 T', 565595.0, 6332914.0) NA 1987
 NotNA 54749
('0 80-3 318/ 755 T', 573404.0, 6341421.0) NA 1937
 NotNA 59023
('0 80-4 297/ 450 T', 559259.0, 6327608.0) NA 1948
 NotNA 57668
('0 80-4 300/ 310 T', 561869.0, 6328773.0) NA 1979
 NotNA 56677
('0 80-4 303/ 405 T', 564139.0, 6330707.0) NA 1895
 NotNA 58489
('0 80-4 306/ 370 T', 565725.0, 6333190.0) NA 1731
 NotNA 53661
('0 80-5 297/ 450 T', 559280.0, 6327566.0) NA 1951
 NotNA 57761
('0 80-5 300/ 145 T', 561737.0, 6328657.0) NA 1987
 NotNA 56669
('0 80-5 303/ 285 T', 564096.0, 6330582.0) NA 1917
 NotNA 59427
('0 80-5 306/ 450 T', 565832.0, 6333201.0) NA 1776
 NotNA 55056
('0 80-6 296/ 950 T', 558845.0, 6327312.0) NA 1917
 NotNA 59427
('0 80-6 300/ 85 T', 561665.0, 6328681.0) NA 1976
 NotNA 56584
('0 80-6 302/ 970 T', 563847.0, 6330375.0) NA 1917
 NotNA 59427
('0 80-6 306/ 50 T', 565513.0, 6332929.0) NA 1951
 NotNA 52865
('0 800464-0 0/ 95 T', 579665.0, 6318006.0) NA 1053
 NotNA 32643
('0 800464-90 1/ 0 T', 579569.0, 6317938.0) NA 1142
 NotNA 32554
('0 8175060-0 0/ 46 T', 579583.0, 6318033.0) NA 962
 NotNA 29182
('0 90-0 1/ 820 T', 558649.0, 6328099.0) NA 1754
 NotNA 53542
('0 90-0 13/ 900 T', 556496.0, 6339531.0) NA 1921
 NotNA 59039
('0 90-0 14/ 800 T', 556284.0, 6340400.0) NA 1913
 NotNA 59047
('0 90-0 15/ 650 T', 556333.0, 6341247.0) NA 1913
 NotNA 59047
('0 90-0 2/ 260 T', 558595.0, 6328535.0) NA 1754
 NotNA 53542
('0 90-0 6/ 551 T', 556874.0, 6332374.0) NA 2009
 NotNA 59047
('0 90-0 7/ 420 T', 557042.0, 6333224.0) NA 2009
 NotNA 59047
('0 90-0 8/ 350 T', 557239.0, 6334131.0) NA 2009
 NotNA 59047
('0 90-1 1/ 100 T', 558676.0, 6327380.0) NA 1754
 NotNA 53542
('0 90-11 17/ 300 T', 556846.0, 6342701.0) NA 795
 NotNA 24645
('0 90-2 1/ 100 T', 558631.0, 6327382.0) NA 1754
 NotNA 53542
('0 90-3 14/ 600 T', 556339.0, 6340208.0) NA 1917
 NotNA 59427
('0 90-3 7/ 300 T', 557050.0, 6333097.0) NA 1929
 NotNA 59415
('0 90-4 1/ 820 T', 558628.0, 6328098.0) NA 1737
 NotNA 53847
('0 90-4 15/ 20 T', 556242.0, 6340624.0) NA 1917
 NotNA 59427
('0 90-4 7/ 570 T', 557034.0, 6333381.0) NA 1929
 NotNA 59415
('0 90-5 1/ 820 T', 558669.0, 6328102.0) NA 1737
 NotNA 53847
('0 90-5 14/ 925 T', 556319.0, 6340524.0) NA 1917
 NotNA 59427
('0 90-5 7/ 570 T', 557128.0, 6333355.0) NA 1929
 NotNA 59415
('0 90-6 14/ 600 T', 556267.0, 6340193.0) NA 1925
 NotNA 59419
('0 90-6 7/ 300 T', 556968.0, 6333118.0) NA 1929
 NotNA 59415
('851 800447-0 16/ 250 T', 558086.0, 6339075.0) NA 1150
 NotNA 33602
('851 800447-0 16/ 530 T', 558085.0, 6339351.0) NA 1142
 NotNA 33610
('851 800463-0 35/ 800 T', 577191.0, 6313881.0) NA 1170
 NotNA 33390
('851 800463-0 36/ 0 T', 577213.0, 6314071.0) NA 1170
 NotNA 33390
('851 800470-0 23/ 931 T', 537036.0, 6313597.0) NA 1114
 NotNA 33734
('851 800471-0 3/ 0 T', 536966.0, 6313513.0) NA 1114
 NotNA 33734
('851 800504-0 29/ 990 T', 579495.0, 6317971.0) NA 1053
 NotNA 32643
('851 800520-0 0/ 101 T', 557988.0, 6339308.0) NA 942
 NotNA 29202
('851 800624-0 11/ 680 T', 558197.0, 6339296.0) NA 1222
 NotNA 33530
('851 800703-0 0/ 0 T', 556055.0, 6319316.0) NA 1818
 NotNA 54438
('851 800704-0 20/ 600 T', 577095.0, 6314050.0) NA 1170
 NotNA 33390
('851 800714-0 0/ 40 T', 533252.0, 6314460.0) NA 1114
 NotNA 33734
('851 8174140-0 0/ 200 T', 575770.0, 6320109.0) NA 1917
 NotNA 59427
('851 8510892-0 0/ 125 T', 556574.0, 6317304.0) NA 1037
 NotNA 28627
('851 8512315-0 0/ 615 T', 552881.0, 6321172.0) NA 1914
 NotNA 59334
('851 8512717-0 1/ 515 T', 556212.0, 6319923.0) NA 1917
 NotNA 59427
('851 8513254-0 4/ 840 T', 553320.0, 6318000.0) NA 1418
 NotNA 31798
('851 8513405-0 0/ 514 T', 557736.0, 6321504.0) NA 1764
 NotNA 54684
('851 8515994-0 0/ 290 T', 556395.0, 6323058.0) NA 1905
 NotNA 59055
('851 8519680-0 0/ 470 T', 556617.0, 6324515.0) NA 1890
 NotNA 59454

Find Longest period and Interpolate NA Values

In [9]:
import pandas as pd

def find_and_apply_longest_period(filtered_dataframes, threshold=5):
    """
    Loops over all dataframes in filtered_dataframes, finds the longest period 
    without exceeding the threshold of consecutive NaN values, and filters 
    the dataframe to include only that period.

    Parameters:
    - filtered_dataframes (dict): A dictionary of dataframes to process.
    - threshold (int): Maximum allowed consecutive NaN values.

    Returns:
    - dict: Updated filtered_dataframes with filtered dataframes.
    """
    def find_longest_valid_period(series, threshold):
        """
        Finds the longest valid period in the series, allowing up to `threshold` NaN values consecutively.
        """
        mask = series.notna()
        count = 0
        start = end = 0
        max_start = max_end = 0
        nans = 0

        for i in range(len(mask)):
            if mask.iloc[i]:
                count += 1
                nans = 0
            else:
                nans += 1
                if nans > threshold:
                    count = 0
                    nans = 0
                    start = i + 1
            if count > (max_end - max_start):
                max_start, max_end = start, i + 1
        return max_start, max_end

    for name, df in filtered_dataframes.items():
        # Assuming the column to check for NaN values is named 'Value'
        if 'traffic_flow' in df.columns:
            start_idx, end_idx = find_longest_valid_period(df['traffic_flow'], threshold)
            filtered_dataframes[name] = df.iloc[start_idx:end_idx]

    return filtered_dataframes

filtered_dataframes_period = find_and_apply_longest_period(filtered_dataframes.copy(), threshold=5)

In [10]:
for name, df in filtered_dataframes_period.items():
    # Interpolate NaN values in all columns with numeric data
    filtered_dataframes_period[name]['traffic_flow'] = df['traffic_flow'].interpolate(method='linear', limit_direction='both')

C:\Users\gonde\AppData\Local\Temp\ipykernel_20856\2306075207.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_dataframes_period[name]['traffic_flow'] = df['traffic_flow'].interpolate(method='linear', limit_direction='both')

Verify amount of Na Values

In [ ]:
# longest consecutive streak of NA in filtered_dataframes_period[name]['traffic_flow']
for name in filtered_dataframes_period:
    print(name, filtered_dataframes_period[name]['traffic_flow'].isna().astype(int).groupby(filtered_dataframes_period[name]['traffic_flow'].notna().astype(int).cumsum()).cumsum().max())

('0 450-0 7/ 300 T', 552601.0, 6329842.0) 0
('0 450-0 9/1675 T', 549360.0, 6330576.0) 0
('0 70-0 277/ 100 T', 552269.0, 6311346.0) 0
('0 70-0 278/ 201 T', 552730.0, 6312348.0) 0
('0 70-0 279/ 100 T', 553084.0, 6313171.0) 0
('0 70-0 284/ 400 T', 555132.0, 6317792.0) 0
('0 70-0 284/ 950 T', 555308.0, 6318304.0) 0
('0 70-0 285/ 700 T', 555789.0, 6318873.0) 0
('0 70-0 286/ 100 T', 556145.0, 6319061.0) 0
('0 70-0 288/ 424 T', 558245.0, 6319907.0) 0
('0 70-0 289/ 350 T', 558753.0, 6320685.0) 0
('0 70-0 289/ 950 T', 559007.0, 6321227.0) 0
('0 70-0 290/ 951 T', 559026.0, 6322227.0) 0
('0 70-0 291/ 452 T', 558976.0, 6322726.0) 0
('0 70-0 291/ 625 T', 558956.0, 6322898.0) 0
('0 70-0 292/ 0 T', 558880.0, 6323318.0) 0
('0 70-0 293/ 370 T', 557951.0, 6324241.0) 0
('0 70-0 293/ 400 T', 557929.0, 6324261.0) 0
('0 70-0 293/ 640 T', 557757.0, 6324428.0) 0
('0 70-0 293/ 960 T', 557594.0, 6324700.0) 0
('0 70-0 293/ 980 T', 557587.0, 6324719.0) 0
('0 70-0 294/ 850 T', 557734.0, 6325564.0) 0
('0 70-0 295/ 500 T', 557994.0, 6326153.0) 0
('0 70-1 292/ 50 T', 558880.0, 6323318.0) 0
('0 70-11 283/ 200 T', 554551.0, 6316755.0) 0
('0 70-12 283/ 266 T', 554585.0, 6316822.0) 0
('0 70-2 292/ 50 T', 558837.0, 6323297.0) 0
('0 70-3 277/ 450 T', 552440.0, 6311651.0) 0
('0 70-3 284/ 780 T', 555292.0, 6318128.0) 0
('0 70-3 285/ 870 T', 555968.0, 6318918.0) 0
('0 70-3 288/ 470 T', 558292.0, 6319926.0) 0
('0 70-3 288/ 560 T', 558354.0, 6319990.0) 0
('0 70-3 291/ 300 T', 559015.0, 6322568.0) 0
('0 70-3 294/ 850 T', 557768.0, 6325544.0) 0
('0 70-3A 288/ 580 T', 558376.0, 6320001.0) 0
('0 70-4 278/ 300 T', 552749.0, 6312440.0) 0
('0 70-4 285/ 460 T', 555588.0, 6318742.0) 0
('0 70-4 288/ 700 T', 558342.0, 6320192.0) 0
('0 70-4 291/ 625 T', 558928.0, 6322894.0) 0
('0 70-4 294/ 850 T', 557691.0, 6325544.0) 0
('0 70-5 278/ 300 T', 552781.0, 6312433.0) 0
('0 70-5 284/ 950 T', 555340.0, 6318295.0) 0
('0 70-5 288/ 700 T', 558422.0, 6320127.0) 0
('0 70-5 291/ 625 T', 558981.0, 6322888.0) 0
('0 70-5 294/ 850 T', 557827.0, 6325537.0) 0
('0 70-6 277/ 450 T', 552413.0, 6311664.0) 0
('0 70-6 285/ 65 T', 555341.0, 6318418.0) 0
('0 70-6 285/ 900 T', 555942.0, 6319001.0) 0
('0 70-6 288/ 670 T', 558310.0, 6320130.0) 0
('0 70-6 291/ 300 T', 558980.0, 6322578.0) 0
('0 76-0 0/ 453 T', 558371.0, 6323423.0) 0
('0 76-1 0/ 800 T', 558664.0, 6323446.0) 0
('0 76-2 0/ 800 T', 558627.0, 6323517.0) 0
('0 76-2 0/ 923 T', 558581.0, 6323630.0) 0
('0 76-4 0/ 453 T', 558379.0, 6323438.0) 0
('0 76-5 0/ 453 T', 558367.0, 6323402.0) 0
('0 76-5 0/ 560 T', 558465.0, 6323359.0) 0
('0 77-0 294/ 400 T', 557255.0, 6324952.0) 0
('0 77-1 294/ 200 T', 557437.0, 6324871.0) 0
('0 77-2 294/ 200 T', 557426.0, 6324854.0) 0
('0 78-0 1/ 30 T', 558444.0, 6327442.0) 0
('0 80-0 296/ 600 T', 558598.0, 6327064.0) 0
('0 80-0 296/ 645 T', 558629.0, 6327096.0) 0
('0 80-0 297/ 450 T', 559264.0, 6327583.0) 0
('0 80-0 297/ 452 T', 559266.0, 6327584.0) 0
('0 80-0 297/ 960 T', 559723.0, 6327803.0) 0
('0 80-0 298/ 450 T', 560171.0, 6327999.0) 0
('0 80-0 299/ 600 T', 561226.0, 6328459.0) 0
('0 80-0 300/ 750 T', 562278.0, 6328919.0) 0
('0 80-0 300/ 85 T', 561669.0, 6328654.0) 0
('0 80-0 302/ 400 T', 563589.0, 6329866.0) 0
('0 80-0 303/ 190 T', 564000.0, 6330537.0) 0
('0 80-0 304/ 0 T', 564570.0, 6331111.0) 0
('0 80-0 305/ 300 T', 565165.0, 6332267.0) 0
('0 80-0 306/ 275 T', 565691.0, 6333093.0) 0
('0 80-0 307/ 100 T', 566293.0, 6333655.0) 0
('0 80-3 296/ 950 T', 558870.0, 6327287.0) 0
('0 80-3 300/ 85 T', 561694.0, 6328595.0) 0
('0 80-3 303/ 60 T', 563949.0, 6330413.0) 0
('0 80-3 306/ 80 T', 565595.0, 6332914.0) 0
('0 80-3 318/ 755 T', 573404.0, 6341421.0) 0
('0 80-4 297/ 450 T', 559259.0, 6327608.0) 0
('0 80-4 300/ 310 T', 561869.0, 6328773.0) 0
('0 80-4 303/ 405 T', 564139.0, 6330707.0) 0
('0 80-4 306/ 370 T', 565725.0, 6333190.0) 0
('0 80-5 297/ 450 T', 559280.0, 6327566.0) 0
('0 80-5 300/ 145 T', 561737.0, 6328657.0) 0
('0 80-5 303/ 285 T', 564096.0, 6330582.0) 0
('0 80-5 306/ 450 T', 565832.0, 6333201.0) 0
('0 80-6 296/ 950 T', 558845.0, 6327312.0) 0
('0 80-6 300/ 85 T', 561665.0, 6328681.0) 0
('0 80-6 302/ 970 T', 563847.0, 6330375.0) 0
('0 80-6 306/ 50 T', 565513.0, 6332929.0) 0
('0 800464-0 0/ 95 T', 579665.0, 6318006.0) 0
('0 800464-90 1/ 0 T', 579569.0, 6317938.0) 0
('0 8175060-0 0/ 46 T', 579583.0, 6318033.0) 0
('0 90-0 1/ 820 T', 558649.0, 6328099.0) 0
('0 90-0 13/ 900 T', 556496.0, 6339531.0) 0
('0 90-0 14/ 800 T', 556284.0, 6340400.0) 0
('0 90-0 15/ 650 T', 556333.0, 6341247.0) 0
('0 90-0 2/ 260 T', 558595.0, 6328535.0) 0
('0 90-0 6/ 551 T', 556874.0, 6332374.0) 0
('0 90-0 7/ 420 T', 557042.0, 6333224.0) 0
('0 90-0 8/ 350 T', 557239.0, 6334131.0) 0
('0 90-1 1/ 100 T', 558676.0, 6327380.0) 0
('0 90-11 17/ 300 T', 556846.0, 6342701.0) 0
('0 90-2 1/ 100 T', 558631.0, 6327382.0) 0
('0 90-3 14/ 600 T', 556339.0, 6340208.0) 0
('0 90-3 7/ 300 T', 557050.0, 6333097.0) 0
('0 90-4 1/ 820 T', 558628.0, 6328098.0) 0
('0 90-4 15/ 20 T', 556242.0, 6340624.0) 0
('0 90-4 7/ 570 T', 557034.0, 6333381.0) 0
('0 90-5 1/ 820 T', 558669.0, 6328102.0) 0
('0 90-5 14/ 925 T', 556319.0, 6340524.0) 0
('0 90-5 7/ 570 T', 557128.0, 6333355.0) 0
('0 90-6 14/ 600 T', 556267.0, 6340193.0) 0
('0 90-6 7/ 300 T', 556968.0, 6333118.0) 0
('851 800447-0 16/ 250 T', 558086.0, 6339075.0) 0
('851 800447-0 16/ 530 T', 558085.0, 6339351.0) 0
('851 800463-0 35/ 800 T', 577191.0, 6313881.0) 0
('851 800463-0 36/ 0 T', 577213.0, 6314071.0) 0
('851 800470-0 23/ 931 T', 537036.0, 6313597.0) 0
('851 800471-0 3/ 0 T', 536966.0, 6313513.0) 0
('851 800504-0 29/ 990 T', 579495.0, 6317971.0) 0
('851 800520-0 0/ 101 T', 557988.0, 6339308.0) 0
('851 800624-0 11/ 680 T', 558197.0, 6339296.0) 0
('851 800703-0 0/ 0 T', 556055.0, 6319316.0) 0
('851 800704-0 20/ 600 T', 577095.0, 6314050.0) 0
('851 800714-0 0/ 40 T', 533252.0, 6314460.0) 0
('851 8174140-0 0/ 200 T', 575770.0, 6320109.0) 0
('851 8510892-0 0/ 125 T', 556574.0, 6317304.0) 0
('851 8512315-0 0/ 615 T', 552881.0, 6321172.0) 0
('851 8512717-0 1/ 515 T', 556212.0, 6319923.0) 0
('851 8513254-0 4/ 840 T', 553320.0, 6318000.0) 0
('851 8513405-0 0/ 514 T', 557736.0, 6321504.0) 0
('851 8515994-0 0/ 290 T', 556395.0, 6323058.0) 0
('851 8519680-0 0/ 470 T', 556617.0, 6324515.0) 0

Find the dataframes which have the most data over the longest time

In [ ]:
def remove_extreme_dataframes(one_week_dfs, n, m):
    # Sort dataframes by their starting index value
    sorted_by_start = sorted(one_week_dfs.items(), key=lambda item: item[1].index[0])
    
    # Sort dataframes by their ending index value
    sorted_by_end = sorted(one_week_dfs.items(), key=lambda item: item[1].index[-1])
    
    # Remove n dataframes with the highest starting index value
    to_remove_start = sorted_by_start[-n:]
    
    # Remove m dataframes with the lowest ending index value
    to_remove_end = sorted_by_end[:m]
    
    # Create a set of keys to remove
    keys_to_remove = set(key for key, _ in to_remove_start + to_remove_end)
    
    # Remove the dataframes from one_week_dfs
    one_week_dfs = {key: df for key, df in one_week_dfs.items() if key not in keys_to_remove}
    
    return one_week_dfs

highest_duration = 0
count_removing = 200

for n in range(0, 80):
    for m in range(0, 80):
        temp_one_week_dfs = remove_extreme_dataframes(filtered_dataframes_period, n, m)
        
        if temp_one_week_dfs:  # Check if temp_one_week_dfs is not empty
            highest_starting_index = max(df.index[0] for df in temp_one_week_dfs.values())
            lowest_ending_index = min(df.index[-1] for df in temp_one_week_dfs.values())
            duration_days = ((lowest_ending_index - highest_starting_index) / 3600) / 24
            if duration_days >= 0 and duration_days > highest_duration:
                print(f"n = {n}, m = {m}")
                print("Number of dataframes after removal:", len(temp_one_week_dfs))
                print("Highest starting index value:", highest_starting_index)
                print("Lowest ending index value:", lowest_ending_index)
                print("Duration in days:", duration_days)
                if duration_days > highest_duration and count_removing > n+m:	
                    highest_duration = duration_days
                    count_removing = n + m
                    best_start = highest_starting_index
                    best_end = lowest_ending_index
                    best_n = n
                    best_m = m


print("Best start:", best_start)
print("Best end:", best_end)
print("Best n:", best_n)
print("Best m:", best_m)
print("Highest duration in days:", highest_duration)

n = 26, m = 71
Number of dataframes after removal: 54
Highest starting index value: 1704063600
Lowest ending index value: 1704191400
Duration in days: 1.4791666666666667
n = 26, m = 72
Number of dataframes after removal: 53
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 26, m = 73
Number of dataframes after removal: 52
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 26, m = 74
Number of dataframes after removal: 51
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 26, m = 75
Number of dataframes after removal: 50
Highest starting index value: 1704063600
Lowest ending index value: 1705582800
Duration in days: 17.583333333333332
n = 26, m = 76
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 26, m = 77
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 26, m = 78
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 26, m = 79
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 27, m = 72
Number of dataframes after removal: 53
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 27, m = 73
Number of dataframes after removal: 52
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 27, m = 74
Number of dataframes after removal: 51
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 27, m = 75
Number of dataframes after removal: 50
Highest starting index value: 1704063600
Lowest ending index value: 1705582800
Duration in days: 17.583333333333332
n = 27, m = 76
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 27, m = 77
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 27, m = 78
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 27, m = 79
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 28, m = 72
Number of dataframes after removal: 52
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 28, m = 73
Number of dataframes after removal: 51
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 28, m = 74
Number of dataframes after removal: 50
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 28, m = 75
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705582800
Duration in days: 17.583333333333332
n = 28, m = 76
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 28, m = 77
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 28, m = 78
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 28, m = 79
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 29, m = 72
Number of dataframes after removal: 51
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 29, m = 73
Number of dataframes after removal: 50
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 29, m = 74
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 29, m = 75
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 29, m = 76
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 29, m = 77
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 29, m = 78
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 29, m = 79
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 30, m = 72
Number of dataframes after removal: 50
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 30, m = 73
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 30, m = 74
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 30, m = 75
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 30, m = 76
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 30, m = 77
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 30, m = 78
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 30, m = 79
Number of dataframes after removal: 44
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 31, m = 72
Number of dataframes after removal: 49
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 31, m = 73
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 31, m = 74
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 31, m = 75
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 31, m = 76
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 31, m = 77
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 31, m = 78
Number of dataframes after removal: 44
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 31, m = 79
Number of dataframes after removal: 43
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 32, m = 72
Number of dataframes after removal: 48
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 32, m = 73
Number of dataframes after removal: 47
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 32, m = 74
Number of dataframes after removal: 46
Highest starting index value: 1704063600
Lowest ending index value: 1705328100
Duration in days: 14.635416666666666
n = 32, m = 75
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 32, m = 76
Number of dataframes after removal: 45
Highest starting index value: 1704063600
Lowest ending index value: 1705988700
Duration in days: 22.28125
n = 32, m = 77
Number of dataframes after removal: 44
Highest starting index value: 1704063600
Lowest ending index value: 1706411700
Duration in days: 27.177083333333332
n = 32, m = 78
Number of dataframes after removal: 43
Highest starting index value: 1704063600
Lowest ending index value: 1706656500
Duration in days: 30.010416666666668
n = 32, m = 79
Number of dataframes after removal: 42
Highest starting index value: 1704063600
Lowest ending index value: 1706708700
Duration in days: 30.614583333333332
n = 33, m = 60
Number of dataframes after removal: 54
Highest starting index value: 1702591200
Lowest ending index value: 1703928600
Duration in days: 15.479166666666666
n = 33, m = 64
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 65
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 66
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 67
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 68
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 69
Number of dataframes after removal: 50
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 33, m = 70
Number of dataframes after removal: 49
Highest starting index value: 1702591200
Lowest ending index value: 1703984400
Duration in days: 16.125
n = 33, m = 71
Number of dataframes after removal: 48
Highest starting index value: 1702591200
Lowest ending index value: 1704191400
Duration in days: 18.520833333333332
n = 33, m = 72
Number of dataframes after removal: 47
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 33, m = 73
Number of dataframes after removal: 46
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 33, m = 74
Number of dataframes after removal: 45
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 33, m = 75
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 33, m = 76
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 33, m = 77
Number of dataframes after removal: 43
Highest starting index value: 1702591200
Lowest ending index value: 1706411700
Duration in days: 44.21875
n = 33, m = 78
Number of dataframes after removal: 42
Highest starting index value: 1702591200
Lowest ending index value: 1706656500
Duration in days: 47.052083333333336
n = 33, m = 79
Number of dataframes after removal: 41
Highest starting index value: 1702591200
Lowest ending index value: 1706708700
Duration in days: 47.65625
n = 34, m = 64
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 65
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 66
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 67
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 68
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 69
Number of dataframes after removal: 50
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 34, m = 70
Number of dataframes after removal: 49
Highest starting index value: 1702591200
Lowest ending index value: 1703984400
Duration in days: 16.125
n = 34, m = 71
Number of dataframes after removal: 48
Highest starting index value: 1702591200
Lowest ending index value: 1704191400
Duration in days: 18.520833333333332
n = 34, m = 72
Number of dataframes after removal: 47
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 34, m = 73
Number of dataframes after removal: 46
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 34, m = 74
Number of dataframes after removal: 45
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 34, m = 75
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 34, m = 76
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 34, m = 77
Number of dataframes after removal: 43
Highest starting index value: 1702591200
Lowest ending index value: 1706411700
Duration in days: 44.21875
n = 34, m = 78
Number of dataframes after removal: 42
Highest starting index value: 1702591200
Lowest ending index value: 1706656500
Duration in days: 47.052083333333336
n = 34, m = 79
Number of dataframes after removal: 41
Highest starting index value: 1702591200
Lowest ending index value: 1706708700
Duration in days: 47.65625
n = 35, m = 64
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 65
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 66
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 67
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 68
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 69
Number of dataframes after removal: 50
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 35, m = 70
Number of dataframes after removal: 49
Highest starting index value: 1702591200
Lowest ending index value: 1703984400
Duration in days: 16.125
n = 35, m = 71
Number of dataframes after removal: 48
Highest starting index value: 1702591200
Lowest ending index value: 1704191400
Duration in days: 18.520833333333332
n = 35, m = 72
Number of dataframes after removal: 47
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 35, m = 73
Number of dataframes after removal: 46
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 35, m = 74
Number of dataframes after removal: 45
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 35, m = 75
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 35, m = 76
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 35, m = 77
Number of dataframes after removal: 43
Highest starting index value: 1702591200
Lowest ending index value: 1706411700
Duration in days: 44.21875
n = 35, m = 78
Number of dataframes after removal: 42
Highest starting index value: 1702591200
Lowest ending index value: 1706656500
Duration in days: 47.052083333333336
n = 35, m = 79
Number of dataframes after removal: 41
Highest starting index value: 1702591200
Lowest ending index value: 1706708700
Duration in days: 47.65625
n = 36, m = 64
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 65
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 66
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 67
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 68
Number of dataframes after removal: 51
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 69
Number of dataframes after removal: 50
Highest starting index value: 1702591200
Lowest ending index value: 1703982600
Duration in days: 16.104166666666668
n = 36, m = 70
Number of dataframes after removal: 49
Highest starting index value: 1702591200
Lowest ending index value: 1703984400
Duration in days: 16.125
n = 36, m = 71
Number of dataframes after removal: 48
Highest starting index value: 1702591200
Lowest ending index value: 1704191400
Duration in days: 18.520833333333332
n = 36, m = 72
Number of dataframes after removal: 47
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 36, m = 73
Number of dataframes after removal: 46
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 36, m = 74
Number of dataframes after removal: 45
Highest starting index value: 1702591200
Lowest ending index value: 1705328100
Duration in days: 31.677083333333332
n = 36, m = 75
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700
Duration in days: 39.322916666666664
n = 36, m = 76
Number of dataframes after removal: 44
Highest starting index value: 1702591200
Lowest ending index value: 1705988700

Drop Duplicates in index and apply the Range

In [15]:
start = 1678963500 - 3588300
end = 1701363600

final_dataframes = {}

for name, df in filtered_dataframes_period.items():
    # Ensure the index is unique and monotonic
    if not df.index.is_unique:
        print(f"Duplicate indices found in {name}. Dropping duplicates.")
        df = df[~df.index.duplicated(keep='first')]

    if not df.index.is_monotonic_increasing:
        print(f"Index of {name} is not sorted. Sorting the index.")
        df = df.sort_index()

    if start in df.index and end in df.index:
        final_dataframes[name] = df.loc[start:end]
    elif start > df.index[0] and end < df.index[-1]:
        try:
            final_dataframes[name] = df.loc[start:end]
        except KeyError:
            print("Trying something else")
            # Find the nearest index to start and end
            start_index = df.index.get_indexer([start], method='nearest')[0]
            end_index = df.index.get_indexer([end], method='nearest')[0]
            final_dataframes[name] = df.iloc[start_index:end_index+1]
    else:
        print(f"Data range does not fit for {name}. Skipping.")
print("Final Dataframes", len(final_dataframes))

Duplicate indices found in ('0 450-0 7/ 300 T', 552601.0, 6329842.0). Dropping duplicates.
Index of ('0 450-0 7/ 300 T', 552601.0, 6329842.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 450-0 9/1675 T', 549360.0, 6330576.0). Dropping duplicates.
Index of ('0 450-0 9/1675 T', 549360.0, 6330576.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 277/ 100 T', 552269.0, 6311346.0). Dropping duplicates.
Index of ('0 70-0 277/ 100 T', 552269.0, 6311346.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 278/ 201 T', 552730.0, 6312348.0). Dropping duplicates.
Index of ('0 70-0 278/ 201 T', 552730.0, 6312348.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 279/ 100 T', 553084.0, 6313171.0). Dropping duplicates.
Index of ('0 70-0 279/ 100 T', 553084.0, 6313171.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 284/ 400 T', 555132.0, 6317792.0). Dropping duplicates.
Index of ('0 70-0 284/ 400 T', 555132.0, 6317792.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 284/ 950 T', 555308.0, 6318304.0). Dropping duplicates.
Index of ('0 70-0 284/ 950 T', 555308.0, 6318304.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 285/ 700 T', 555789.0, 6318873.0). Dropping duplicates.
Index of ('0 70-0 285/ 700 T', 555789.0, 6318873.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-0 285/ 700 T', 555789.0, 6318873.0). Skipping.
Duplicate indices found in ('0 70-0 286/ 100 T', 556145.0, 6319061.0). Dropping duplicates.
Index of ('0 70-0 286/ 100 T', 556145.0, 6319061.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-0 286/ 100 T', 556145.0, 6319061.0). Skipping.
Duplicate indices found in ('0 70-0 288/ 424 T', 558245.0, 6319907.0). Dropping duplicates.
Index of ('0 70-0 288/ 424 T', 558245.0, 6319907.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 289/ 350 T', 558753.0, 6320685.0). Dropping duplicates.
Index of ('0 70-0 289/ 350 T', 558753.0, 6320685.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 289/ 950 T', 559007.0, 6321227.0). Dropping duplicates.
Index of ('0 70-0 289/ 950 T', 559007.0, 6321227.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 290/ 951 T', 559026.0, 6322227.0). Dropping duplicates.
Index of ('0 70-0 290/ 951 T', 559026.0, 6322227.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 291/ 452 T', 558976.0, 6322726.0). Dropping duplicates.
Index of ('0 70-0 291/ 452 T', 558976.0, 6322726.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 291/ 625 T', 558956.0, 6322898.0). Dropping duplicates.
Index of ('0 70-0 291/ 625 T', 558956.0, 6322898.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 292/ 0 T', 558880.0, 6323318.0). Dropping duplicates.
Index of ('0 70-0 292/ 0 T', 558880.0, 6323318.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 293/ 370 T', 557951.0, 6324241.0). Dropping duplicates.
Index of ('0 70-0 293/ 370 T', 557951.0, 6324241.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 293/ 400 T', 557929.0, 6324261.0). Dropping duplicates.
Index of ('0 70-0 293/ 400 T', 557929.0, 6324261.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 293/ 640 T', 557757.0, 6324428.0). Dropping duplicates.
Index of ('0 70-0 293/ 640 T', 557757.0, 6324428.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 293/ 960 T', 557594.0, 6324700.0). Dropping duplicates.
Index of ('0 70-0 293/ 960 T', 557594.0, 6324700.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 293/ 980 T', 557587.0, 6324719.0). Dropping duplicates.
Index of ('0 70-0 293/ 980 T', 557587.0, 6324719.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 294/ 850 T', 557734.0, 6325564.0). Dropping duplicates.
Index of ('0 70-0 294/ 850 T', 557734.0, 6325564.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-0 295/ 500 T', 557994.0, 6326153.0). Dropping duplicates.
Index of ('0 70-0 295/ 500 T', 557994.0, 6326153.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-1 292/ 50 T', 558880.0, 6323318.0). Dropping duplicates.
Index of ('0 70-1 292/ 50 T', 558880.0, 6323318.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-11 283/ 200 T', 554551.0, 6316755.0). Dropping duplicates.
Index of ('0 70-11 283/ 200 T', 554551.0, 6316755.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-11 283/ 200 T', 554551.0, 6316755.0). Skipping.
Duplicate indices found in ('0 70-12 283/ 266 T', 554585.0, 6316822.0). Dropping duplicates.
Index of ('0 70-12 283/ 266 T', 554585.0, 6316822.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-12 283/ 266 T', 554585.0, 6316822.0). Skipping.
Duplicate indices found in ('0 70-2 292/ 50 T', 558837.0, 6323297.0). Dropping duplicates.
Index of ('0 70-2 292/ 50 T', 558837.0, 6323297.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 277/ 450 T', 552440.0, 6311651.0). Dropping duplicates.
Index of ('0 70-3 277/ 450 T', 552440.0, 6311651.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 284/ 780 T', 555292.0, 6318128.0). Dropping duplicates.
Index of ('0 70-3 284/ 780 T', 555292.0, 6318128.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 285/ 870 T', 555968.0, 6318918.0). Dropping duplicates.
Index of ('0 70-3 285/ 870 T', 555968.0, 6318918.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-3 285/ 870 T', 555968.0, 6318918.0). Skipping.
Duplicate indices found in ('0 70-3 288/ 470 T', 558292.0, 6319926.0). Dropping duplicates.
Index of ('0 70-3 288/ 470 T', 558292.0, 6319926.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 288/ 560 T', 558354.0, 6319990.0). Dropping duplicates.
Index of ('0 70-3 288/ 560 T', 558354.0, 6319990.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 291/ 300 T', 559015.0, 6322568.0). Dropping duplicates.
Index of ('0 70-3 291/ 300 T', 559015.0, 6322568.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3 294/ 850 T', 557768.0, 6325544.0). Dropping duplicates.
Index of ('0 70-3 294/ 850 T', 557768.0, 6325544.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-3A 288/ 580 T', 558376.0, 6320001.0). Dropping duplicates.
Index of ('0 70-3A 288/ 580 T', 558376.0, 6320001.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-4 278/ 300 T', 552749.0, 6312440.0). Dropping duplicates.
Index of ('0 70-4 278/ 300 T', 552749.0, 6312440.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-4 285/ 460 T', 555588.0, 6318742.0). Dropping duplicates.
Index of ('0 70-4 285/ 460 T', 555588.0, 6318742.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-4 288/ 700 T', 558342.0, 6320192.0). Dropping duplicates.
Index of ('0 70-4 288/ 700 T', 558342.0, 6320192.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-4 291/ 625 T', 558928.0, 6322894.0). Dropping duplicates.
Index of ('0 70-4 291/ 625 T', 558928.0, 6322894.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-4 294/ 850 T', 557691.0, 6325544.0). Dropping duplicates.
Index of ('0 70-4 294/ 850 T', 557691.0, 6325544.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-5 278/ 300 T', 552781.0, 6312433.0). Dropping duplicates.
Index of ('0 70-5 278/ 300 T', 552781.0, 6312433.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-5 284/ 950 T', 555340.0, 6318295.0). Dropping duplicates.
Index of ('0 70-5 284/ 950 T', 555340.0, 6318295.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-5 288/ 700 T', 558422.0, 6320127.0). Dropping duplicates.
Index of ('0 70-5 288/ 700 T', 558422.0, 6320127.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-5 291/ 625 T', 558981.0, 6322888.0). Dropping duplicates.
Index of ('0 70-5 291/ 625 T', 558981.0, 6322888.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-5 294/ 850 T', 557827.0, 6325537.0). Dropping duplicates.
Index of ('0 70-5 294/ 850 T', 557827.0, 6325537.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-6 277/ 450 T', 552413.0, 6311664.0). Dropping duplicates.
Index of ('0 70-6 277/ 450 T', 552413.0, 6311664.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-6 285/ 65 T', 555341.0, 6318418.0). Dropping duplicates.
Index of ('0 70-6 285/ 65 T', 555341.0, 6318418.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 70-6 285/ 900 T', 555942.0, 6319001.0). Dropping duplicates.
Index of ('0 70-6 285/ 900 T', 555942.0, 6319001.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-6 285/ 900 T', 555942.0, 6319001.0). Skipping.
Duplicate indices found in ('0 70-6 288/ 670 T', 558310.0, 6320130.0). Dropping duplicates.
Index of ('0 70-6 288/ 670 T', 558310.0, 6320130.0) is not sorted. Sorting the index.
Data range does not fit for ('0 70-6 288/ 670 T', 558310.0, 6320130.0). Skipping.
Duplicate indices found in ('0 70-6 291/ 300 T', 558980.0, 6322578.0). Dropping duplicates.
Index of ('0 70-6 291/ 300 T', 558980.0, 6322578.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 76-0 0/ 453 T', 558371.0, 6323423.0). Dropping duplicates.
Index of ('0 76-0 0/ 453 T', 558371.0, 6323423.0) is not sorted. Sorting the index.
Data range does not fit for ('0 76-0 0/ 453 T', 558371.0, 6323423.0). Skipping.
Duplicate indices found in ('0 76-1 0/ 800 T', 558664.0, 6323446.0). Dropping duplicates.
Index of ('0 76-1 0/ 800 T', 558664.0, 6323446.0) is not sorted. Sorting the index.
Data range does not fit for ('0 76-1 0/ 800 T', 558664.0, 6323446.0). Skipping.
Duplicate indices found in ('0 76-2 0/ 800 T', 558627.0, 6323517.0). Dropping duplicates.
Index of ('0 76-2 0/ 800 T', 558627.0, 6323517.0) is not sorted. Sorting the index.
Data range does not fit for ('0 76-2 0/ 800 T', 558627.0, 6323517.0). Skipping.
Duplicate indices found in ('0 76-2 0/ 923 T', 558581.0, 6323630.0). Dropping duplicates.
Index of ('0 76-2 0/ 923 T', 558581.0, 6323630.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 76-4 0/ 453 T', 558379.0, 6323438.0). Dropping duplicates.
Index of ('0 76-4 0/ 453 T', 558379.0, 6323438.0) is not sorted. Sorting the index.
Data range does not fit for ('0 76-4 0/ 453 T', 558379.0, 6323438.0). Skipping.
Duplicate indices found in ('0 76-5 0/ 453 T', 558367.0, 6323402.0). Dropping duplicates.
Index of ('0 76-5 0/ 453 T', 558367.0, 6323402.0) is not sorted. Sorting the index.
Data range does not fit for ('0 76-5 0/ 453 T', 558367.0, 6323402.0). Skipping.
Duplicate indices found in ('0 76-5 0/ 560 T', 558465.0, 6323359.0). Dropping duplicates.
Index of ('0 76-5 0/ 560 T', 558465.0, 6323359.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 77-0 294/ 400 T', 557255.0, 6324952.0). Dropping duplicates.
Index of ('0 77-0 294/ 400 T', 557255.0, 6324952.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 77-1 294/ 200 T', 557437.0, 6324871.0). Dropping duplicates.
Index of ('0 77-1 294/ 200 T', 557437.0, 6324871.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 77-2 294/ 200 T', 557426.0, 6324854.0). Dropping duplicates.
Index of ('0 77-2 294/ 200 T', 557426.0, 6324854.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 78-0 1/ 30 T', 558444.0, 6327442.0). Dropping duplicates.
Index of ('0 78-0 1/ 30 T', 558444.0, 6327442.0) is not sorted. Sorting the index.
Data range does not fit for ('0 78-0 1/ 30 T', 558444.0, 6327442.0). Skipping.
Duplicate indices found in ('0 80-0 296/ 600 T', 558598.0, 6327064.0). Dropping duplicates.
Index of ('0 80-0 296/ 600 T', 558598.0, 6327064.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 296/ 645 T', 558629.0, 6327096.0). Dropping duplicates.
Index of ('0 80-0 296/ 645 T', 558629.0, 6327096.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 297/ 450 T', 559264.0, 6327583.0). Dropping duplicates.
Index of ('0 80-0 297/ 450 T', 559264.0, 6327583.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 297/ 452 T', 559266.0, 6327584.0). Dropping duplicates.
Index of ('0 80-0 297/ 452 T', 559266.0, 6327584.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 297/ 960 T', 559723.0, 6327803.0). Dropping duplicates.
Index of ('0 80-0 297/ 960 T', 559723.0, 6327803.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 298/ 450 T', 560171.0, 6327999.0). Dropping duplicates.
Index of ('0 80-0 298/ 450 T', 560171.0, 6327999.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 299/ 600 T', 561226.0, 6328459.0). Dropping duplicates.
Index of ('0 80-0 299/ 600 T', 561226.0, 6328459.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 300/ 750 T', 562278.0, 6328919.0). Dropping duplicates.
Index of ('0 80-0 300/ 750 T', 562278.0, 6328919.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 300/ 85 T', 561669.0, 6328654.0). Dropping duplicates.
Index of ('0 80-0 300/ 85 T', 561669.0, 6328654.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 302/ 400 T', 563589.0, 6329866.0). Dropping duplicates.
Index of ('0 80-0 302/ 400 T', 563589.0, 6329866.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 303/ 190 T', 564000.0, 6330537.0). Dropping duplicates.
Index of ('0 80-0 303/ 190 T', 564000.0, 6330537.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 304/ 0 T', 564570.0, 6331111.0). Dropping duplicates.
Index of ('0 80-0 304/ 0 T', 564570.0, 6331111.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 305/ 300 T', 565165.0, 6332267.0). Dropping duplicates.
Index of ('0 80-0 305/ 300 T', 565165.0, 6332267.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 306/ 275 T', 565691.0, 6333093.0). Dropping duplicates.
Index of ('0 80-0 306/ 275 T', 565691.0, 6333093.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-0 307/ 100 T', 566293.0, 6333655.0). Dropping duplicates.
Index of ('0 80-0 307/ 100 T', 566293.0, 6333655.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-3 296/ 950 T', 558870.0, 6327287.0). Dropping duplicates.
Index of ('0 80-3 296/ 950 T', 558870.0, 6327287.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-3 300/ 85 T', 561694.0, 6328595.0). Dropping duplicates.
Index of ('0 80-3 300/ 85 T', 561694.0, 6328595.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-3 303/ 60 T', 563949.0, 6330413.0). Dropping duplicates.
Index of ('0 80-3 303/ 60 T', 563949.0, 6330413.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-3 306/ 80 T', 565595.0, 6332914.0). Dropping duplicates.
Index of ('0 80-3 306/ 80 T', 565595.0, 6332914.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-3 318/ 755 T', 573404.0, 6341421.0). Dropping duplicates.
Index of ('0 80-3 318/ 755 T', 573404.0, 6341421.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-4 297/ 450 T', 559259.0, 6327608.0). Dropping duplicates.
Index of ('0 80-4 297/ 450 T', 559259.0, 6327608.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-4 300/ 310 T', 561869.0, 6328773.0). Dropping duplicates.
Index of ('0 80-4 300/ 310 T', 561869.0, 6328773.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-4 303/ 405 T', 564139.0, 6330707.0). Dropping duplicates.
Index of ('0 80-4 303/ 405 T', 564139.0, 6330707.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-4 306/ 370 T', 565725.0, 6333190.0). Dropping duplicates.
Index of ('0 80-4 306/ 370 T', 565725.0, 6333190.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-5 297/ 450 T', 559280.0, 6327566.0). Dropping duplicates.
Index of ('0 80-5 297/ 450 T', 559280.0, 6327566.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-5 300/ 145 T', 561737.0, 6328657.0). Dropping duplicates.
Index of ('0 80-5 300/ 145 T', 561737.0, 6328657.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-5 303/ 285 T', 564096.0, 6330582.0). Dropping duplicates.
Index of ('0 80-5 303/ 285 T', 564096.0, 6330582.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-5 306/ 450 T', 565832.0, 6333201.0). Dropping duplicates.
Index of ('0 80-5 306/ 450 T', 565832.0, 6333201.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-6 296/ 950 T', 558845.0, 6327312.0). Dropping duplicates.
Index of ('0 80-6 296/ 950 T', 558845.0, 6327312.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-6 300/ 85 T', 561665.0, 6328681.0). Dropping duplicates.
Index of ('0 80-6 300/ 85 T', 561665.0, 6328681.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-6 302/ 970 T', 563847.0, 6330375.0). Dropping duplicates.
Index of ('0 80-6 302/ 970 T', 563847.0, 6330375.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 80-6 306/ 50 T', 565513.0, 6332929.0). Dropping duplicates.
Index of ('0 80-6 306/ 50 T', 565513.0, 6332929.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 800464-0 0/ 95 T', 579665.0, 6318006.0). Dropping duplicates.
Index of ('0 800464-0 0/ 95 T', 579665.0, 6318006.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 800464-90 1/ 0 T', 579569.0, 6317938.0). Dropping duplicates.
Index of ('0 800464-90 1/ 0 T', 579569.0, 6317938.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 8175060-0 0/ 46 T', 579583.0, 6318033.0). Dropping duplicates.
Index of ('0 8175060-0 0/ 46 T', 579583.0, 6318033.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 1/ 820 T', 558649.0, 6328099.0). Dropping duplicates.
Index of ('0 90-0 1/ 820 T', 558649.0, 6328099.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 13/ 900 T', 556496.0, 6339531.0). Dropping duplicates.
Index of ('0 90-0 13/ 900 T', 556496.0, 6339531.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 14/ 800 T', 556284.0, 6340400.0). Dropping duplicates.
Index of ('0 90-0 14/ 800 T', 556284.0, 6340400.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 15/ 650 T', 556333.0, 6341247.0). Dropping duplicates.
Index of ('0 90-0 15/ 650 T', 556333.0, 6341247.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 2/ 260 T', 558595.0, 6328535.0). Dropping duplicates.
Index of ('0 90-0 2/ 260 T', 558595.0, 6328535.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 6/ 551 T', 556874.0, 6332374.0). Dropping duplicates.
Index of ('0 90-0 6/ 551 T', 556874.0, 6332374.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 7/ 420 T', 557042.0, 6333224.0). Dropping duplicates.
Index of ('0 90-0 7/ 420 T', 557042.0, 6333224.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-0 8/ 350 T', 557239.0, 6334131.0). Dropping duplicates.
Index of ('0 90-0 8/ 350 T', 557239.0, 6334131.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-1 1/ 100 T', 558676.0, 6327380.0). Dropping duplicates.
Index of ('0 90-1 1/ 100 T', 558676.0, 6327380.0) is not sorted. Sorting the index.
Duplicate indices found in ('0 90-11 17/ 300 T', 556846.0, 6342701.0). Dropping duplicates.
Index of ('0 90-11 17/ 300 T', 556846.0, 6342701.0) is not sorted. Sorting the index.
Data range does not fit for ('0 90-11 17/ 300 T', 556846.0, 6342701.0). Skipping.

In [16]:
# Gather all start and end index values for analysis
start_values = []
end_values = []

for name, df in final_dataframes.items():
    start_values.append(df.index[0])
    end_values.append(df.index[-1])

start_values = pd.Series(start_values)
end_values = pd.Series(end_values)

# Determine the most common start and end indices
common_start = start_values.value_counts().idxmax()
common_end = end_values.value_counts().idxmax()

# Apply the common range to all DataFrames
updated_final_dataframes = {}
for name, df in final_dataframes.items():
    # Check if the common_start and common_end exist in the DataFrame
    if common_start in df.index and common_end in df.index:
        updated_final_dataframes[name] = df.loc[common_start:common_end].copy()
    else:
        print(f"Skipping {name} - range {common_start} to {common_end} not found.")

# Replace the final_dataframes with updated ones
final_dataframes = updated_final_dataframes

# Verify results
print(f"Updated DataFrames: {len(final_dataframes)}")
#for name, df in final_dataframes.items():
    #print(f"{name}: Start {df.index[0]}, End {df.index[-1]}")

Skipping ('0 450-0 7/ 300 T', 552601.0, 6329842.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 277/ 100 T', 552269.0, 6311346.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 278/ 201 T', 552730.0, 6312348.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 279/ 100 T', 553084.0, 6313171.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 288/ 424 T', 558245.0, 6319907.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 289/ 350 T', 558753.0, 6320685.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 289/ 950 T', 559007.0, 6321227.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 290/ 951 T', 559026.0, 6322227.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 291/ 452 T', 558976.0, 6322726.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 291/ 625 T', 558956.0, 6322898.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 292/ 0 T', 558880.0, 6323318.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 293/ 370 T', 557951.0, 6324241.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 293/ 400 T', 557929.0, 6324261.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 293/ 640 T', 557757.0, 6324428.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 293/ 960 T', 557594.0, 6324700.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 293/ 980 T', 557587.0, 6324719.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 294/ 850 T', 557734.0, 6325564.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-0 295/ 500 T', 557994.0, 6326153.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-1 292/ 50 T', 558880.0, 6323318.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-2 292/ 50 T', 558837.0, 6323297.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3 277/ 450 T', 552440.0, 6311651.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3 288/ 470 T', 558292.0, 6319926.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3 288/ 560 T', 558354.0, 6319990.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3 291/ 300 T', 559015.0, 6322568.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3 294/ 850 T', 557768.0, 6325544.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-3A 288/ 580 T', 558376.0, 6320001.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-4 278/ 300 T', 552749.0, 6312440.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-4 288/ 700 T', 558342.0, 6320192.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-4 294/ 850 T', 557691.0, 6325544.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-5 278/ 300 T', 552781.0, 6312433.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-5 284/ 950 T', 555340.0, 6318295.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-5 288/ 700 T', 558422.0, 6320127.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-5 294/ 850 T', 557827.0, 6325537.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-6 277/ 450 T', 552413.0, 6311664.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 70-6 291/ 300 T', 558980.0, 6322578.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 76-2 0/ 923 T', 558581.0, 6323630.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 76-5 0/ 560 T', 558465.0, 6323359.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 296/ 600 T', 558598.0, 6327064.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 296/ 645 T', 558629.0, 6327096.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 297/ 450 T', 559264.0, 6327583.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 297/ 452 T', 559266.0, 6327584.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 297/ 960 T', 559723.0, 6327803.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 298/ 450 T', 560171.0, 6327999.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 299/ 600 T', 561226.0, 6328459.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 300/ 750 T', 562278.0, 6328919.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 300/ 85 T', 561669.0, 6328654.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 302/ 400 T', 563589.0, 6329866.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 303/ 190 T', 564000.0, 6330537.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 304/ 0 T', 564570.0, 6331111.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 305/ 300 T', 565165.0, 6332267.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 306/ 275 T', 565691.0, 6333093.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-0 307/ 100 T', 566293.0, 6333655.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-3 296/ 950 T', 558870.0, 6327287.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-3 300/ 85 T', 561694.0, 6328595.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-3 306/ 80 T', 565595.0, 6332914.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-3 318/ 755 T', 573404.0, 6341421.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-4 297/ 450 T', 559259.0, 6327608.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-4 300/ 310 T', 561869.0, 6328773.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-4 303/ 405 T', 564139.0, 6330707.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-4 306/ 370 T', 565725.0, 6333190.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-5 297/ 450 T', 559280.0, 6327566.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-5 300/ 145 T', 561737.0, 6328657.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-6 300/ 85 T', 561665.0, 6328681.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 80-6 306/ 50 T', 565513.0, 6332929.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 800464-90 1/ 0 T', 579569.0, 6317938.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 8175060-0 0/ 46 T', 579583.0, 6318033.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 1/ 820 T', 558649.0, 6328099.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 13/ 900 T', 556496.0, 6339531.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 2/ 260 T', 558595.0, 6328535.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 6/ 551 T', 556874.0, 6332374.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 7/ 420 T', 557042.0, 6333224.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-0 8/ 350 T', 557239.0, 6334131.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-1 1/ 100 T', 558676.0, 6327380.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-2 1/ 100 T', 558631.0, 6327382.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-3 7/ 300 T', 557050.0, 6333097.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-4 7/ 570 T', 557034.0, 6333381.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-5 7/ 570 T', 557128.0, 6333355.0) - range 1675375200 to 1701363600 not found.
Skipping ('0 90-6 7/ 300 T', 556968.0, 6333118.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800447-0 16/ 250 T', 558086.0, 6339075.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800447-0 16/ 530 T', 558085.0, 6339351.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800463-0 35/ 800 T', 577191.0, 6313881.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800463-0 36/ 0 T', 577213.0, 6314071.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800470-0 23/ 931 T', 537036.0, 6313597.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800471-0 3/ 0 T', 536966.0, 6313513.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800520-0 0/ 101 T', 557988.0, 6339308.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800624-0 11/ 680 T', 558197.0, 6339296.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800704-0 20/ 600 T', 577095.0, 6314050.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 800714-0 0/ 40 T', 533252.0, 6314460.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 8510892-0 0/ 125 T', 556574.0, 6317304.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 8513254-0 4/ 840 T', 553320.0, 6318000.0) - range 1675375200 to 1701363600 not found.
Skipping ('851 8513405-0 0/ 514 T', 557736.0, 6321504.0) - range 1675375200 to 1701363600 not found.
Updated DataFrames: 31

____________________________________________________________________

Create a Graph from Final Dataframes

Create GCN Model